.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar h1{
    color: #a86666;
    font-size: 50px;
}
.navbar .profile{
    width: 40px;
}